# requirements.txt records the full set of dependencies for development
accelerate==1.10.1
codetiming
datasets==3.6.0
dill
# flash-attn
hydra-core
liger-kernel
numpy<2.0.0
pandas
peft==0.17.1
pyarrow>=19.0.0
fastparquet
pybind11
pylatexenc
pre-commit
ray[default]
tensordict>=0.8.0,<=0.9.1,!=0.9.0
torch==2.7.1
torchdata
transformers==4.55.2
vllm==0.10.0
einops==0.8.1
wandb==0.21.1
packaging>=20.0
uvicorn
fastapi
typer
latex2sympy2_extended
math_verify
pydantic==2.11.7
regex
dotenv
slist
plotly
anthropic
openai
tenacity
matplotlib
trl==0.22.2
bitsandbytes==0.48.1